* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Montserrat;
    color: #000;
}

/* Common Styles */
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #57585A;
}
/*Phan trang chu 
/* Phan dau tien */
header {
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    
    height:fit-content;
   
    z-index: 9999; 
    position: sticky;
    top: 0;
    border-bottom: 2px solid rgb(11, 11, 11);
    
    
    
}


.logo {
    flex: 1;
    margin-right: 20px;
    margin-top: 10px;
}

.logo img {
   width:270px;
   height: auto;
}

.menu {
    flex: 3;
    display: flex;
    margin-top: 63px;
    position: relative;
    z-index: 2;
}

.menu ul {
    display: flex;
    align-items: flex-start;
}

.menu ul li {
    margin-right: 45px;
    position: relative;
}

.menu ul li a {
    font-size: 16px;
    font-weight: normal;
    color: #000;
    white-space: nowrap;
}


.menu ul li:hover > a {
    color: rgb(162, 22, 40);
    font-weight: bold;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
}

.menu ul li:hover .sub-menu {
    display: flex;
}

.sub-menu ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sub-menu ul li {
    margin-bottom: 10px;
}

.sub-menu ul li a {
    color: #1d1b1b;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
}

.sub-menu ul li a:hover {
    color: rgb(162, 22, 40);
}

.sub-menu ul li ul li a {
    font-size: 18px;
}

.others {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.others > ul {
    display: flex;
    align-items: center;
}

.others > ul > li {
    margin-left: 20px;
}

.others > li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
}

.example {
    position: relative;
    width: 200px;
}

.example input[type=text] {
    width: 100%;
    padding: 5px 30px 5px 10px; /* Để trống một khoảng cho biểu tượng tìm kiếm */
    font-size: 14px;
    border: 1px solid #000;
    background: #fff;
    color: #000;
}

.example button {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px; /* Đặt kích thước của nút tìm kiếm */
    height: 100%; /* Đảm bảo nút tìm kiếm có cùng chiều cao với textbox */
    padding: 5px;
    background: transparent; /* Xóa nền của nút tìm kiếm để hiển thị biểu tượng tìm kiếm */
    border: none; /* Loại bỏ đường viền của nút */
    cursor: pointer;
}


.example button:hover {
    background: #f1f1f1;
}

.example button i {
    font-size: 14px;
}

.black i {
    color: blueviolet;
}

.slide-show {
    z-index: 1;
    width: 100%;
    position: relative;
    order: 2;
    margin-top: 70px;
}

.list-image {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.list-image img {
    width: 100%;
    height: auto;
}

/* Phan lien he khach hang */
footer {
    background: white;
    padding-top: 0;
}

.container {
    width: 100%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}
.container-product {
    width: 100%;
    margin-left: 5%;
    
    justify-content: space-between;
}
.footer_content h3 {
    font-size: 20px;
    margin-bottom: 15px;
    
    color: black;
}

.footer_content img {
    width: 80px;
    cursor: pointer;
}

.footer_content {
    margin-right: 65px;
}




.footer_content li {
    list-style-type: none;
    margin-bottom: 10px;
}

.bottom_bar {
    background: white;
    text-align: center;
    padding: 10px 0;
    padding-top: 15px;
    padding-bottom: 20px;
    color: black;
}

a img {
    width: 150px;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.content2 {
    padding-right: 10px;
}

.content3 {
    padding-left: 50px;
}

.content3 .boder {
    border-spacing: 20px;
    border: 4px solid #dcd1d199;
    padding: 20px;
    border-radius: 70px;
    margin-right: 50px;
}

.content4 img {
    width: 150px;
    height: 40px;
    padding-left: 30px;
}

.content2 h3 {
    padding-left: 40px;
}

.content3 h3 {
    padding-right: 50px;
    margin-top: 10px;
}

button {
    border-radius: 20px;
    width: 80px;
    height: 30px;
}

.icon {
    display: flex;
    justify-content: center;
    width: 150px;
    padding-top: 20px;
    padding-left: 100px;
}

.icon li:last-child {
    padding-right: 50px;
}

.icon li:not(:last-child) {
    margin-right: 20px;
}

.hotline {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 180px;
    background-color: #333;
    color: white;
    padding-top: 10px;
}

.hidden {
    display: none;
}










/* Phan flasesale */
.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Căn chỉnh các sản phẩm sang trái */
    margin-left: 40px; /* Cách lề trái 70px */
}

/* Định dạng phần nội dung, biến nó thành một container flex với các mục được xếp dọc và căn giữa theo chiều ngang, với khoảng cách giảm giữa các sản phẩm */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px; /* Giảm khoảng cách giữa các sản phẩm */
}

/* Định dạng hình ảnh sản phẩm, đặt kích thước cố định và đảm bảo chúng phủ đầy phần tử chứa. Cũng bao gồm hiệu ứng chuyển đổi khi di chuột qua hình ảnh */
.image-wrapper {
    width: 220px;
    height: 330px;
    position: relative;
    margin-right: 60px; /* Khoảng cách giữa các sản phẩm */
}
.image-wrapper img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.img2 {
    opacity: 0;
    transition: opacity 0.5s ease;
}
.image-wrapper:hover .img2 {
    opacity: 1;
}

/* Định dạng chỉ màu, làm cho chúng tròn và căn giữa với overflow ẩn */
.mau {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Làm cho hình tròn */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.icon-white {
    color: white;
  }
  
/* Định dạng mô tả sản phẩm, sắp xếp chúng thành một hàng với khoảng cách giữa và icon giỏ hàng */
.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}
.product-name {
    flex: 1;
    margin: 10px;
    margin-left: 0px;
}
.cart-icon {
    margin-left: 10px;
    color: rgb(125, 29, 29);
    text-shadow: 1px 1px 0 #dfdbdb,
                 -1px -1px 0 #dfd9d9,
                 1px -1px 0 #faf8f8,
                 -1px 1px 0 #d7d5d5;
}
.head h1{
    margin-left: 130px;
    align-items: flex-start;
    color: red;
    font-size: 40px;
}
.head{
    display: flex;
    margin-bottom: 30px;
}
.box {
    width: 45px;
    height: 45px;
    background-color: rgb(27, 28, 28);
    border: 0.5px solid rgb(20, 20, 21);
    padding: 2px;
   margin-top: 6px;
   margin-left: 10px;
   border-top-left-radius: 15px;
   border-bottom-right-radius: 15px;
}

.head p{
    margin-left:10px ;
    margin-top: 15px;
}
.box p{
    margin: 10px;
    text-align: center;
    color: aliceblue;
}
/* CSS để tạo khung sale */
.image-wrapper {
    position: relative;
    display: inline-block;
}

.sale-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

/* CSS để tùy chỉnh hình ảnh */
.image-wrapper img {
    max-width: 100%;
    height: auto;
}
.banner {
    display: flex;
     justify-content: center;
     align-content: center;
 }
 .banner-item {
     max-width: 100%;
     width: auto;
     height: auto;
     margin: 10px;
     border: 2px solid #000; /* Thêm viền cho ảnh */
     border-radius: 30px; /* Góc bo tròn */
     box-shadow: 0 4px 8px rgba(0,0,0,0.1);
     transition: ease-in-out 1s;
     overflow: hidden;
     position: relative;
 }
 
 .banner-item > img{
     width: 100%;
     object-fit: cover;
     position: relative;
     transition: opacity 1s ease-in-out;
 }
 .banner-item img.active {
     display: block;
     opacity: 1;
 }
 
 .banner-item  img.inactive {
     display: none;
     opacity: 0;
 }
 .gallery > #gallery-header{
     text-align: center;
     margin: 30px;
     font-size: 50px;
 }
 .gallery-body{
     display: flex;
 }
 .gallery-body > .gal-item{
     width: auto;
     height: auto;
     margin: 5px;
 }
 .gal-item img{
     height: 100%;
     width: 100%;
 }
 .hidden {
     opacity: 0;
 }



 
/* Phan newarrial */
.home-new-prod {
    width: 100%;
    margin: 120px auto; 
    margin-left: 50px;
}

/* Định dạng một phần tử tiêu đề với văn bản căn giữa, một chút margin dưới và kích thước font là 24px */
.title-section {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    margin-right: 90px;
}

/* Định dạng một danh sách trong phần đầu trang, biến nó thành một container flex với các mục căn giữa theo chiều ngang và thêm margin phía dưới */
.head {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    margin-bottom: 20px; /* Để tạo khoảng cách dưới phần tử */
    margin-right:110px;
}
.head ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.head ul li {
    margin: 0 20px; /* Điều chỉnh margin giữa các mục nếu cần */
}



/* Định dạng một container cho các sản phẩm, biến nó thành một container flex với các mục được bọc và căn chỉnh sang trái, với margin trái là 70px */
.moda{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-left: 100px;
}

/* Định dạng phần nội dung, biến nó thành một container flex với các mục được xếp dọc và căn giữa theo chiều ngang, với khoảng cách giảm giữa các sản phẩm */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px; 
}

/* Định dạng hình ảnh sản phẩm, đặt kích thước cố định và đảm bảo chúng phủ đầy phần tử chứa. Cũng bao gồm hiệu ứng chuyển đổi khi di chuột qua hình ảnh */
.image-wrapper {
    width: 220px;
    height: 330px;
    position: relative;
}
.image-wrapper img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.img2 {
    opacity: 0;
    transition: opacity 0.5s ease;
}
.image-wrapper:hover .img2 {
    opacity: 1;
}
body{
    overflow-x: hidden;
}
/* Định dạng chỉ màu, làm cho chúng tròn và căn giữa với overflow ẩn */


/* Định dạng mô tả sản phẩm, sắp xếp chúng thành một hàng với khoảng cách giữa và icon giỏ hàng */
.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}
.product-name {
    flex: 1;
}
.cart-icon {
    margin-left: 10px;
    color: white;
    text-shadow: 1px 1px 0 #000,
                 -1px -1px 0 #000,
                 1px -1px 0 #000,
                 -1px 1px 0 #000;
}
.hidden {
    display: none;
}

/* Thêm CSS cho phần kids để đảm bảo 5 ảnh được hiển thị thẳng hàng */
.show-more {
    width: 200px;
    padding: 25px 20px;
    border: 1px solid #333;
    border-radius: 25px 0 25px 0;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex; /* Sử dụng flexbox để căn giữa theo cả hai chiều */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    margin: 20px auto; /* Căn giữa theo chiều ngang */
}


.show-more:hover {
    background-color: #333;
    color: #fff;
}



/*  producttttttttttttttttttttttt----------*/

.row {
    display: flex;
    align-items: center;
    gap: 10px; /* Khoảng cách giữa các phần tử, bạn có thể tùy chỉnh */
    padding: 20px 0; /* Có thể tùy chỉnh lại padding cho hợp lý */
}

.product-top p{
    font-family: var(--main-text-font);
    margin:0 12px;
    font-size: 15px;
}
.product-content-left{
    width: 50%;
}
.product-content{
    display: flex;
}
.product-content-left-big-img{
    width: 80%;
    padding-right: 20px;
}
.product-content-left-big-img img{
    width: 100%;
}
.product-content-left-small-img{
    width: 19.1%;

}
.product-content-left-small-img img{
    width: 100%;

}
.product-content-left-big-img {
    position: relative;
    overflow: hidden;
}

.product-content-left-big-img img {
    transition: transform 0.3s ease;
}

  
  

.product-content-right{
    width: 50%;
    padding-left: 100px;
    

}
.product-content-right-product-name h1{
    font-family: var(--main-text-font);
    font-size: 30px;
    margin-right: 50px;
}
.product-content-right-product-name p{
    color: #4e2c2c;
    font-size: 17px;
}
.product-content-right-product-price{
    
    font-size: 22px;
    font-weight: bold;
    
}
.product-content-right-product-color{
    font-size: 22px;

}
.product-content-right-product-color img{
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
.product-content-right-product-color-img{
    height: 40px;
    width: 40px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}
.size span{
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #d4cfcf;
    margin: 12px 10px 12px 0;
    font-size: 17px;
    cursor: pointer;
}

.size span:hover{
    background-color: #07050f;
    color: #fff;
}
.quantity{
    display: flex;
    margin-top: 20px;

}
.quantity input{
    width: 35px;
    padding-left: 3px;
    
}
.product-content-right-product-button {
    display: flex;
    width: 100%; /* Đảm bảo chúng chiếm toàn bộ chiều rộng của container */
}

.product-content-right-product-button button {
    width: 170px;
    height: 60px;
    margin-right: 15px; /* Khoảng cách 20px giữa các nút */
    transition: all 0.3s ease;
}
.product-content-right-product-button button:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border: 2px solid black;
    cursor: pointer;

}
.product-content-right-product-button button:first-child:hover{
    background-color: #5937c8;
    color: #fff;
}
.product-content-right-product-button button:last-child{
    border: 2px solid #1e1d1b;
    color: #171614;
    background-color: #ebe9e9;
    cursor: pointer;
}
.product-content-right-product-button button:last-child:hover{
    background-color: #5937c8;
    color: #fff;
}
.product-content-right-product-icon{
    display: flex;

}
.product-content-right-product-icon-item{
    display: flex;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
}
.product-content-right-product-icon-item i{
    font-size: 12px;
    margin-right: 6px;
}
.product-content-right-product-QR img {
    width: 100px; /* Adjust the width to your desired size */
    height: auto; /* Maintain aspect ratio */
}
.product-content-right-product-bottom-top{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px,solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* CSS cho phần chi tiết sản phẩm product */
.product-detail-divider {
    border-top: 1px solid #ddd;
    margin: 20px 0;
    position: relative;
    text-align: center;
}
.product-detail-divider::before,
.product-detail-divider::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background: #ddd;
}
.product-detail-divider::before {
    left: 0;
}
.product-detail-divider::after {
    right: 0;
}
.product-detail-divider span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    top: -0.7em;
}
.product-detail-divider .fa {
    font-size: 1.2em;
    cursor: pointer;
}
.product-detail__tab {
    max-width: 600px;
    margin: auto;
}
.product-detail__tab-header {
    display: flex;
    border-bottom: 1px solid #ddd;
}
.tab-item {
    padding: 10px 20px;
    cursor: pointer;
}
.tab-item.active {
    font-weight: bold;
    border-bottom: 2px solid #000;
}
.product-detail__tab-body {
    padding: 20px;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
.tab-content p {
    margin: 10px 0;
}
.tab-content strong {
    font-weight: bold;
}
.more-content {
    display: none;
}
.show-more-button {
    display: block;
    margin: 10px auto;
    cursor: pointer;
    color: rgb(9, 9, 10);
    text-align: center;
    font-size: 25px;
}
.short-content p {
    display: none;
}
.short-content p:nth-child(-n+3) {
    display: block;
}


/* Tu van size */

.sizegiuaindam{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px;
}
.tabs {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    font-size: 25px;
}
.tabs a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 18px;
            text-align: left;
        }

        th, td {
            padding: 12px 15px;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f8f8f8;
            color: #333;
            font-weight: bold;
        }

        tr:hover {
            background-color: #f1f1f1;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .tabs a {
            padding: 5px 10px;
            display: inline-block;
            background: #009879;
            color: white;
            margin-right: 5px;
            text-decoration: none;
            border-radius: 5px;
        }

        .tabs a:hover {
            background: #007f6c;
        }

        .tabs a.active {
            background: #005f4f;
        }

        .tab-content {
            display: none;
        }

        .tab-content.active {
            display: block;
        }





        /*cartegory*/
.rowe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cartegory {
    padding: 100px 0 100px;
}

.cartegory-top {
    margin-bottom: 50px;
}

.cartegory-top p {
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 13px;
}

.cartegory-left {
    width: 20%;
    font-size: 20px;
}

.cartegory-right {
    font-family: var(--main-text-font);
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.cartegory-right-top-item button, .cartegory-right-top-item select {
    width: 300px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #dddd;
    cursor: pointer;
}

.cartegory-right-content {
    margin-top: 20px;
    justify-content: space-between;
}

.cartegory-right-content-item {
    width: calc(25% - 12px);
}

.cartegory-right-content-item ul li > a, .cartegory-right-content-item li {
    font-family: var(--main-text-font);
    font-size: 16px;
}

.cartegory-right-bottom-item ul li {
    display: inline-block;
    margin: 20px 5px;
    font-size: 16px;
}

.cartegory-right-bottom-item {
    margin-left: 320px;
    box-sizing: border-box;
}

.cartegory-right-bottom-item ul li a {
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 7px 0;
}

.cartegory-right-bottom-item ul li a:hover {
    background-color: #000;
    color: #fff;
}

.cartegory-left {
    font-size: 16px;
    font-family: var(--main-text-font);
}

.cartegory-left ul li {
    padding: 12px 0;
}

.cartegory-left ul li > a {
    color: #000;
    font-size: 16px;
    font-family: var(--main-text-font);
}

.cartegory-left ul li ul li {
    padding-left: 10px;
}

.hidden {
    display: none;
}
#phone-menu {
    position: relative;
    

}

/* CSS cho menu con */
#phone-menu .sub-menu {
    /* Các thuộc tính CSS khác */
    width:300px; /* Đặt chiều rộng của menu con tự động thích ứng với nội dung */
    max-width: 300px; /* Giới hạn chiều rộng tối đa của menu con */
    min-width: 300px; /* Đặt chiều rộng tối thiểu của menu con */
    right:20px;
}

/*CARTTTTTTTTTTTTTTTTTT*/
/*-----------------------------------CSS CHO PHẦN CART----------------------------------*/

.cart-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cart-top {
    height: 2px;
    background-color: #686565;
    display: flex;
    width: 70%;
    align-items: center;
    margin: 50px 0 ;
}

.cart-top-item {
    flex: 1; /* Thay đổi từ width thành flex để tự động căn giữa */
    display:flex;
    justify-content: center; /* Căn giữa các item trong flex container */
    
}

.cart-top-cart > i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #221e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffdfd;
}

.cart-content {
    display: flex;
    justify-content: space-between;
}

.cart-content-left {
    flex: 1;
    padding-right: 12px;
    width: 70%;
}

.cart-content-left table {
    width: 100%;
    border-collapse: collapse;
}

.cart-content-left table th,
.cart-content-left table td {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    font-size: 14px;
}

.cart-content-left table th {
    text-transform: uppercase;
    color: #333;
}

.cart-content-left table td img {
    max-width: 100px;
}

.cart-content-left table td input[type="number"] {
    width: 50px;
    padding: 5px;
    font-size: 14px;
}

.cart-content-left table td span {
    cursor: pointer;
    color: red;
    font-size: 18px;
}

.cart-content-right {
    flex: 0.3;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.cart-content-right table {
    width: 100%;
    border-collapse: collapse;
}

.cart-content-right table th,
.cart-content-right table td {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    font-size: 14px;
}

.cart-content-right table th {
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
}

.cart-content-right table td:last-child {
    text-align: center; /* Center align text */
}

.cart-content-right-text {
    margin: 20px 0;
    text-align: center;
}

.cart-content-right-text p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}

.cart-content-right-button {
    text-align: center;


}

.cart-content-right-button button {
    padding: 20px 20px; /* Adjust padding for better fit */
    margin: 5px;
    cursor: pointer;
    border: 1px solid black;
    width:200px; /* Adjust width to fit two buttons in a row */
    box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.cart-content-right-button button:first-child {
    background-color: #fff;
}

.cart-content-right-button button:first-child:hover {
    background-color: #dddddd;
}

.cart-content-right-button button:last-child {
    background-color: black;
    color: white;
}

.cart-content-right-button button:last-child:hover {
    background-color:white;
    color: black;
}

.cart-content-right-dangnhap {
    margin-top: 20px;
    text-align: center;
}

.cart-content-right-dangnhap p {
    font-size: 14px;
}

.cart-content-right-dangnhap a {
    color: blue;
    text-decoration: none;
}
.cart-top-cart:nth-last-child(2) > i,
.cart-top-cart:nth-last-child(1) > i {
    opacity: 0.4; /* Sử dụng opacity để làm mờ */
}







